<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
    <title><%=songName%></title>
<% include ../partials/navbar %>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h3><%=artistName%></h3>
        <h1><%=songName%></h1>
        <br>
        
        <div style="width:100%;overflow:auto;white-space:nowrap;font-size:small;line-height:normal"><font face="courier new, monospace">
        
        <div id="tab">
            <%- include(songPath) %>
        </div>
        
        </font></div>
    </div>
    <div class="col-1"></div>
</div>

<% include ../partials/footer %>

<script>

$(document).ready(function() {
    document.title = "<%=songName%>";
    var videoUrl = document.querySelector(".videoUrl").innerHTML;
    document.querySelector(".videoUrl").innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/" + videoUrl + "\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
});

</script>